
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 245, 194);
}
header{
  margin: auto;
  padding: 10px;
  text-align: center;
  color: black;

}

.container{
  margin: auto;
  background-color: black;
  height: 540px;
  width: 355px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;
  
}
input {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
  color: chartreuse;
  
}


.btn {
  width: 85px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border-color: white;
}

.btn:hover {
  background: white;
  color: black;
}

.equal {
  width: 170px;
  height: 70px;
  background: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  border-color: white;
}

footer {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: rgb(241, 57, 118);
}







